<h3 #h1Variable></h3>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Search by Name" style="width:300px;" [(ngModel)]="searchTerm" >
</div>
<div class="form-group" >
<button (click)="changeEmployeeName()" class=" btn btn-primary" style="width:300px;">Change Employee Name</button>
</div>
<div *ngFor="let employee of filteredEmployee | employeeFilter:searchTerm ">
    <!-- <div (click)="h1Variable.innerHTML = childComponent.employee.name + ' '+ childComponent.employee.gender"> -->
    <!-- <div (click)="h1Variable.innerHTML = childComponent.getEmployeeNameandGender()">
        <app-display-employee [employee]="employee" #childComponent></app-display-employee>
    </div> -->
    <div (click)="onClick(employee.id)" style="cursor:pointer;">
        <app-display-employee [employee]="employee" #childComponent></app-display-employee>
    </div>
</div>
<!-- <button (click)="nextEmployee()" class="btn btn-primary">View Next Employee</button>
<br/>
<br/>
<app-display-employee [employee]="employeeToDisplay"></app-display-employee> -->